@import "tailwindcss";

:root {
  --background: #F0F0F0;
  --foreground: #222222;
  --secondary: #7D7D7D;
  --font-chillax: var(--font-chillax);
}

body {
  font-family: var(--font-chillax);
  background-color: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}